service:
  port: 8000
  name: "apps"
  version: "1.0"
  debug: true
db:
  server: "postgres"
  name: "postgres"
  port: 5432
  username: "postgres"
  password: "12345AA"
  timezone: "Asia/Jakarta"
jwt:
  secret: "1nvit4ti0nT0k3n"
  expired: 60
redis:
  host: "redis"
  port: 6379
  password:
  db: 0
  ttl: 30