service:
  port: 8000
  name: "apps"
  version: "1.0"
  debug: true
db:
  name: "db_test"
  server: "localhost"
  port: 3306
  username: "root"
  password: 
  timezone: "Asia/Jakarta"
jwt:
  secret: "1nvit4ti0nT0k3n"
  expired: 60
redis:
  host: "localhost"
  port: 6379
  password:
  db: 0